body {
	text-align: center;
	margin-top: calc(100px - 60px);
	background-color: #fff;
}
#container {
	margin: 0 auto;
	padding: 60px;
}
#thumb_videos a {
	display: inline-block;
	margin-right: calc(0px - 6px + 25px);
	margin-bottom: 50px;

	max-width: 500px;
	width: calc(25% - 25px);

	background-color: #111111;
	overflow: hidden;
}
video, img {
	width: 100%;
}
video:hover,
img:hover {
	filter: brightness(1.2);
}
#thumb_videos {
	text-align: left;
}
#thumb_videos a,
a video,
a img {
	outline: none;
}

.special.one video {
	transform: scale(2.11) translateX(25.5%);
}
.special.two video {
	transform: scale(2.11) translateX(-25.5%);
}